*{
    margin: 0;
    padding:0;
    top: 0;
    left:0;
    box-sizing: border-box;
    outline: none;
}
body{
    background-image: linear-gradient(rgba(223, 223, 223, 0.5),rgb(153, 153, 153)), url(../img/86373.jpg);
    background-color: #000;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
img{
    width: 250px;
    border-radius: 2px;
    height: 200px;

}
#barra {
    display: flex;
    justify-content: center;
    font-size: 1.8em;
    margin-top: 20px;

}
#Principal {
    flex-direction:row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}

.container span{
    font-size: 1.2em;
    margin-bottom: 20px;

}
.card {
    box-shadow: 0 4px 10px 0 rgb(0, 0, 0);
    transition: 0.3s;
    margin-right: 25px;
    margin-top: 25px;
    background-image: linear-gradient(rgba(223, 223, 223, 0.007),rgba(255, 255, 255)), url(../img/86373.jpg);
}
.card div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card div i{
    font-size: 2.8em;
    color: black;
    margin:10px;
}
@media (max-width:750px) {
    img{
        width: 100%;
        height: 300px;
    
    }

    .card {
        margin-right: 0px;
    }
    .card div i{
        margin-right: 20px;
    }
}